.tasks{
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
    overflow-x: scroll;
    gap: 10px;
}
.container{
    border-radius: 12px;
    flex: 0 0 15em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans';
    text-overflow: ellipsis;
    scroll-behavior: smooth;
    padding: 15px;
    /* background-color:rgba(218, 165, 32, 0.756); */
    background-color: #53f5b4;
    height: 90%;
    /* display: none; */
}
.tasks::-webkit-scrollbar{
    display: none;
}
#hash{
    opacity: 0.3;
    color: black;
}
#time{
    opacity: 0.3;
}